In [1]:
import pandas as pd

In [4]:
result = "E:/jagruthi_DA/TestCases/result.txt"
df1 = pd.read_csv(result, sep="\t", header =None, names =["Rollno","Result"])
print(df1)

    Rollno Result
0        1   fail
1        2   fail
2        3   pass
3        4   pass
4        5   fail
5        6   pass
6        7   fail
7        8   pass
8        9   pass
9       10   pass
10      11   pass
11      12   fail
12      13   fail
13      14   fail
14      15   pass
15      16   pass
16      17   pass
17      18   pass
18      19   pass
19      20   fail

In [5]:
Student = "E:/jagruthi_DA/TestCases/Student.txt"

df2 = pd.read_csv(Student, sep=r"\t",header=None, names = ["Student_name","Rollno"],engine= 'python')

print(df2)

   Student_name  Rollno
0        vineet       1
1        hisham       2
2           raj       3
3         ajeet       4
4        sujit        5
5        ramesh       6
6         priya       7
7      priyanka       8
8        suresh       9
9        ritesh      10
10       hitesh      11
11        jatin      12
12      chitesh      13
13        suman      14
14        raman      15
15         aman      16
16         ravi      17
17       shravi      18
18       chavvi      19
19     himanshu      20

In [6]:
merged_df = pd.merge(df1, df2, on="Rollno")
print(merged_df)

    Rollno Result Student_name
0        1   fail       vineet
1        2   fail       hisham
2        3   pass          raj
3        4   pass        ajeet
4        5   fail       sujit
5        6   pass       ramesh
6        7   fail        priya
7        8   pass     priyanka
8        9   pass       suresh
9       10   pass       ritesh
10      11   pass       hitesh
11      12   fail        jatin
12      13   fail      chitesh
13      14   fail        suman
14      15   pass        raman
15      16   pass         aman
16      17   pass         ravi
17      18   pass       shravi
18      19   pass       chavvi
19      20   fail     himanshu

In [7]:
#problem1: students names who passed the results
passed_students = merged_df[merged_df["Result"] == 'pass']['Student_name']
print("Students who have successfully cleared the exam:", list(passed_students))

Students who have successfully cleared the exam: ['raj', 'ajeet', 'ramesh', 'priyanka', 'suresh', 'ritesh', 'hitesh', 'raman', 'aman', 'ravi', 'shravi', 'chavvi']

In [8]:
#Problem 2: Count Number of Students (Pass/Fail)
pass_count = merged_df[merged_df['Result'] == 'pass'].shape[0]
fail_count = merged_df[merged_df['Result'] == 'fail'].shape[0]
print("Number of students who passed:", pass_count)
print("Number of students who failed:", fail_count)

Number of students who passed: 12
Number of students who failed: 8

In [9]:
# Problem 3: Arrange Student Names Alphabetically
sorted_names = df2.sort_values(by='Student_name')['Student_name']
print("Student names arranged alphabetically:", list(sorted_names))

Student names arranged alphabetically: ['ajeet', 'aman', 'chavvi', 'chitesh', 'himanshu', 'hisham', 'hitesh', 'jatin', 'priya', 'priyanka', 'raj', 'raman', 'ramesh', 'ravi', 'ritesh', 'shravi', 'sujit ', 'suman', 'suresh', 'vineet']